.ResetPass {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f9f9fb;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >p {
        font-size: 14px;
        color: #757575;
        line-height: 1.21;
        letter-spacing: 0.7px;
        margin-top: 12px;
    }

    &-Cont {
        background-color: white;
        border-radius: 12px;
        padding: 41px 30px;
        display: flex;
        flex-direction: column;

        >h1 {
            color: #000000;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.21;
            text-align: center;
        }

        &-Wrapper {
            margin-top: 30px;
            display: flex;
            flex-direction: column;

            &-Mail {
                width: 392px !important;
                background-color: #f9f9fb;
                display: flex;
                margin-top: 30px;
                padding-right: 10px;
                padding: 17px 12px;
                border: none;
                // background: transparent;
                outline: none;
                width: 100%;
                color: black;
                border-radius: 5px;

                &::placeholder {
                    font-size: 14px;
                    line-height: 1.21;
                    color: #c8c7c7;
                }
            }

            .submit {
                width: 392px;
                margin-top: 12px;
                background-color: #2196f3;
                border-radius: 5px;
                color: white;
                padding: 10.5px 0px;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.21;
                border: none;
            }
        }
    }
}