@font-face {
  font-family: "icons";
  src: url("fonts/icons.eot?b3zw77");
  src: url("fonts/icons.eot?b3zw77#iefix") format("embedded-opentype"),
    url("fonts/icons.ttf?b3zw77") format("truetype"),
    url("fonts/icons.woff?b3zw77") format("woff"),
    url("fonts/icons.svg?b3zw77#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-times:before {
  content: "\e90a";
}
._icon-left-arrow:before {
  content: "\e900";
  font-weight: bold;
}
._icon-arrow-right:before {
  content: "\e901";
  font-weight: bold;
}
._icon-information-outline:before {
  content: "\e902";
}
._icon-heart-icon:before {
  content: "\e903";
}
._icon-sign-out-alt-icon:before {
  content: "\e904";
}
._icon-user-minus-icon:before {
  content: "\e905";
}
._icon-Icon-material-edit:before {
  content: "\e906";
}
._icon-Icon-material-photo:before {
  content: "\e907";
}
._icon-search:before {
  content: "\e908";
}
._icon-trash:before {
  content: "\e909";
}
