.Success {
    width: 100vw;
    height: 100vh;
    background-color: black;
    // background: transparent;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &-Cont {
        width: 596px;
        height: 336px;
        z-index: 2;
        background-color: #f9f9fb;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        // position: absolute;

        >div {
            display: flex;
            align-items: center;
            flex-direction: column;

            >div {
                width: 84px;
                height: 84px;

                >img {
                    height: 100%;
                }
            }

            >p {
                font-size: 24px;
                font-weight: bold;
                line-height: 1.21;
                color: #27ae60;
                margin-top: 12px;
            }
        }
    }
}