//by Sos Petrosyan

// LOGIN
.form-wrapper-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  font-size: 14px;
  width: 452px;
  text-align: center;
}

.form-content {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.title-holder {
  margin-bottom: 30px;
}
.title-h1-text {
  text-transform: uppercase;
  font-weight: bold;
}

.inp-v,
.btn-v {
  border-radius: 5px;
  border: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.inp-v {
  font-size: inherit;
  padding: 17px 40px 17px 10px;
  background-color: #f1f1f1;
  box-sizing: inherit;
  transition: background-color 0.3s;
}
input[class="inp-v"]:focus {
  background-color: #e8f0fe;
}
input[class="inp-v"]::placeholder {
  color: #c8c7c7;
}
.show-hide {
  cursor: pointer;
}
.btn-v {
  background-color: #2196f3;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}

.inp-holder-email {
  margin-bottom: 30px;
}

.inp-holder-password {
  position: relative;
  margin-bottom: 15px;
}
.show-hide {
  position: absolute;
  top: 18px;
  right: 15px;
}

.Signin-Remember-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 15px 0 45px;
  input {
    display: none;
  }
  span {
    color: #c8c7c7;
  }
}
.checkbox-holder {
  position: relative;
  span {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: -30px;
      width: 17px;
      height: 17px;
      border: 2px solid #c8c7c7;
      border-radius: 5px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      left: -23px;
      width: 6px;
      height: 13px;
      border: solid #2196f3;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  input[type="checkbox"]:checked + span::after {
    opacity: 1;
  }
  .container {
    cursor: pointer;
    display: flex;
    > span {
    }
  }
}
.forgot-pass-t {
  a {
    color: inherit;
  }
}
.pmr-info-b {
  margin-top: 5px;
  p {
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    > i {
      color: red;
      margin: 0 5px;
    }
  }
}
.icon-heart {
  font-family: "icomoon";
  content: attr(data-icon);
  font-size: 16px;
}
// PASSWORD RESET

.SignIn-error-cont {
  text-align: left;
  color: #fe4c4c;
  padding-left: 10px;
  margin-bottom: 10px;
  display: none;
}
.error-visible {
  display: block;
}

// PASSWORD RESET EMAIL SENT
.form-content-success {
  align-items: center;
}
.reset-success-title {
  color: #27ae60;
  font-size: 24px;
  font-weight: bold;
}
.success-img,
.reset-success-title {
  margin-bottom: 10px;
}
.success-img {
  width: 84px;
  height: 84px;
}
