.content-h {
  display: grid;
  grid-template-columns: auto 11fr;
  grid-template-areas: "left right";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #f9f9fb;
}

.content-column-h {
  position: relative;
  &.left {
    grid-area: left;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 6px 5px 11px 0 rgba(200, 199, 199, 0.3);
  }

  &.right {
    grid-area: right;
    display: grid;
    grid-template-rows: auto 11fr;
    grid-row-gap: 30px;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
}
.content-column-grid-h {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: auto 10fr auto;
  grid-template-areas: "head" "cnt" "bottom";
}
.content-column-g-row {
  width: 100%;
  overflow: hidden;
  &.head {
    grid-area: head;
  }
  &.center {
    grid-area: cnt;
  }
  &.bottom {
    grid-area: bottom;
  }
}
// carcas END
.content-c-left-inner-h {
  display: grid;
  grid-template-rows: auto 11fr;
  grid-template-areas: "head" "cnt";
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(#000000, 0.6);
}
.btn {
  outline: none;
  border: none;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
  text-transform: capitalize;
  transition: background-color 0.3s;
  &.type-1 {
    position: relative;
    background-color: #2196f3;
    color: #ffffff;
    width: 100%;
    &:hover {
      background-color: darken(#2196f3, 10%);
    }
  }
  &.type-2 {
    background-color: #27b065;
    color: #ffffff;
    &:hover {
      background-color: darken(#27b065, 10%);
    }
  }
  &.type-3 {
    background-color: #fe494d;
    color: #ffffff;
    &:hover {
      background-color: darken(#fe494d, 10%);
    }
  }
}
.left-head-component {
  padding: 18px;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  > p {
    display: flex;
    align-items: center;
    > i {
      font-size: 14px;
      margin-right: 10px;
      cursor: pointer;
      color: #757575;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 36px);
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #c8c7c7;
  }
}

.left-center-component {
  padding: 18px;
  height: 100%;
  font-size: 14px;

  .left-c-component-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
    padding-right: 5px;
    transition: color 0.3s;
    &:hover {
      color: #2196f3;
    }
    > .left-c-component-heading {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
    > .left-c-c-value {
      margin-right: 10px;
      font-size: 8px;
      background-color: #2196f3;
      border-radius: 50%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13px;
      height: 13px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
.left-bottom-component {
  padding: 12px 24px;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    > ._icon-heart-icon {
      color: red;
      margin: 0 5px;
    }
  }
}
// left END
.content-c-row-h {
  width: 100%;
  &:only-child {
    grid-row: span 2;
  }
  &.head {
    width: 100%;
  }
  &.center {
    width: 100%;
    display: grid;
    grid-template-columns: auto 11fr;
    grid-column-gap: 30px;
  }
}
.content-c-row-h-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.content-c-row-h-i-column {
  display: flex;
  align-items: center;
  &:first-child {
    flex: 1;
  }
  &:last-child {
    flex: 0 0 auto;
  }
  > button {
    outline: none;
    border: 2px solid #757575;
    background-color: #fff;
    margin-right: 100px;
    height: 40px;
    padding: 0 30px;
    cursor: pointer;

    &:first-child {
      // clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 50%, 0% 0%);
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: #fff;
      color: #000;
      border: 2px solid #2193ed;
    }
  }
  > p {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 6px 5px 11px 0 rgba(200, 199, 199, 0.3);
    font-size: 14px;
    border-radius: 5px;
    > span {
      font-weight: bold;
    }
  }
}

///////////////////////
.meeting-room-info {
  margin-top: 30px;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 6px 5px 11px 0 rgba(200, 199, 199, 0.3);
  border-radius: 12px;
  font-size: 14px;
}
.m-room-info-table {
  width: 100%;
  text-align: center;
}
.m-room-info-thead {
  font-weight: bold;
  color: #2193ed;
  padding-right: 23px;
  > .m-room-info-row {
    border-bottom: 2px solid #2193ed;
  }
}

.m-room-info-tbody {
  padding-right: 20px;
  display: block;
  height: 105px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: rgba(#000000, 0.3) rgba(gray, 0.1);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 3px;
    background: rgba(gray, 0.1);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(#000000, 0.3);
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
  }
  > .m-room-info-row {
    border-bottom: 2px solid #c8c7c7;

    &:nth-child(2n) {
      background-color: #2193ed;
      // border-radius: 4px;
      color: #fff;
    }
  }
}

.m-room-info-cell {
  display: inline-block;
  width: calc(100% / 5);
  padding: 8px 0;
}
.m-room-info-cell-edit {
  display: inline-block;
  margin-left: 10px;
  > i {
    cursor: pointer;
    margin: 0 10px;
  }
}
.large-left-arrow {
  font-size: 16px;
}
.m-room-info-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
.pagination-items {
  display: flex;
  align-items: center;
  > i {
    font-size: 14px;
    color: #2593f0;
    cursor: pointer;
    margin: 0 10px;
  }
  > p {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin: 0 6px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #2593f0;
    }
    &.pagination-item-active {
      background-color: #2593f0;
      color: #fff;
      border-radius: 5px;
      padding: 4px 5px;
    }
  }
}

.pagination-item-active {
  color: #2193ed;
}
.pagination-link {
  color: #000;
}
.pagination-link-active {
  background-color: #2193ed;
  padding: 5px 6px;
  border-radius: 5px;
  color: #fff;
}

.small-btn {
  border-radius: 5px;
  border: none;
  padding: 0 6px;
  min-width: 66px;
  height: 26px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  margin-right: 0;
  cursor: pointer;

  &.small-btn-transp {
    border: 1px solid #2196f3;
    color: #2196f3;
    transition: all 0.3s;
    &:hover {
      background-color: #2196f3;
      color: #fff;
    }
  }
  &.small-btn-blue {
    background-color: #2196f3;
    color: #fff;
    transition: all 0.3s;
    &:hover {
      background-color: darken(#2196f3, 10%);
    }
  }
  &.m-room-info-btn {
    position: absolute;
    right: 0;
  }
}

////////////////////////

.c-c-r-cnt-column-h {
  height: 100%;
  &:only-child {
    grid-column: span 2;
  }
  &.left {
    width: 355px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 6px 5px 11px 0 rgba(200, 199, 199, 0.3);
  }
  &.right {
    display: grid;
    grid-template-columns: 11fr auto;
    grid-column-gap: 30px;
  }
}
.c-c-r-cnt-c-inner-column {
  height: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 6px 5px 11px 0 rgba(200, 199, 199, 0.3);
  &:only-child {
    grid-column: span 2;
  }
  &.right {
    width: 355px;
  }
}

.content-c-g-title {
  font-size: 14px;
  color: #757575;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  ._icon-information-outline {
    color: #c8c7c7;
    font-size: 16px;
    margin-left: 10px;
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: #757575;
    }
  }
  span {
    margin-left: 5px;
  }
}
.common-component-head {
  padding: 20px 24px 12px 24px;
}

.input-holder {
  position: relative;
  > i {
    position: absolute;
    top: 8px;
    left: 7px;
    color: #c8c7c7;
  }
}

.content-c-component {
  height: 100%;
  padding-right: 24px;
}
.content-column-g-holder {
  padding: 0 10px 0 24px;
  margin-bottom: 10px;
  > p {
    padding: 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:first-child {
      padding-top: 0;
    }
  }
}
.content-column-g-block {
  padding: 0 10px 0 24px;
  margin-bottom: 10px;
  > p {
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
  }
}
.input {
  outline: none;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  color: rgba(#000000, 0.6);
  width: 85.5%;
  padding: 0 10px 0 34px;
  height: 30px;
  text-transform: capitalize;
  position: relative;
  transition: background-color 0.3s;
  &::placeholder {
    box-sizing: border-box;
    color: rgba(#000000, 0.3);
  }
  &:focus {
    background-color: lighten(#c8c7c7, 20%);
  }
}
.content-column-g-r-item {
  display: flex;
  align-items: center;
  border: 1px solid #d4d4d4;
  height: 50px;
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
  > i {
    flex: 0 0 auto;
    transition: color 0.3s;
  }
  > i:first-child {
    font-size: 20px;
    color: #757575;
  }
  > i:last-child {
    color: #c8c7c7;
    cursor: pointer;
    &:hover {
      color: #757575;
    }
  }
  > p {
    flex: 1;
    padding: 0 10px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.mr-head-component {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  .mr-head-btn {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}
.mr-center-component {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  // background-color: rgba(#f0f8ff, 0.4);
  padding: 0 75px;
  > .mr-center-content {
    width: 100%;
    height: 80%;
    border: 2px solid rgba(33, 150, 243, 0.3);
    border-radius: 5px;
    padding: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.mr-bottom-component {
  display: flex;
  justify-content: center;
  padding: 10px;
  > button {
    margin: 0 5px;
    min-width: 200px;
  }
}

.scrollable-holder-h {
  width: 100%;
  height: 100%;
  position: relative;
}

.scrollable-container-h {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: rgba(#000000, 0.3) rgba(gray, 0.1);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 3px;
    background: rgba(gray, 0.1);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(#000000, 0.3);
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
  }
}
