// Password reset successful Popup
.status-b-holder,
.image-crop-holder,
.confirm-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.status-hidden {
  display: none;
}

.success-cont,
.confirm-cont,
.meeting-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 596px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  padding: 40px 30px;
  position: relative;
  &-close {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 17px;
    height: 2px;
    background-color: #c8c7c7;
    transform: rotate(45deg);
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 17px;
      height: 2px;
      top: 0;
      right: 0;
      background-color: #c8c7c7;
      transform: rotate(90deg);
    }
  }
  &-img {
    width: 84px;
    height: 84px;
  }
  &-text {
    text-transform: uppercase;
    color: #27ae60;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  &-txt {
    text-transform: uppercase;
    color: #000000;
    font-size: 24px;
    margin-top: 10px;
     span {
      font-weight: bold;
    }
  }
}
.success-cont {
  min-height: 336px;
}

// Branding image cropper UI
.image-crop-cont {
  width: 1145px;
  min-height: 757px;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 60px;
}
.image-crop-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.image-crop-title {
  font-size: 24px;
  font-weight: bold;
}
.crop-image {
  width: 1024px;
  height: 512px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  img {
    width: 1024px;
    height: 512px;
    object-fit: cover;
  }
}
.image-crop-dimensions {
  display: flex;
  align-items: center;
}
.dimensions-text {
  font-weight: bold;
  margin-right: 12px;
}
.dimension-button {
  padding: 8px 12px;
  font-size: 12px;
}
.dimension-button,
.cropper-button,
.confirm-btn,
.meeting-btn {
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.dimension-selected,
.cropper-button-save,
.confirm-btn-confirm {
  background-color: #2196f3;
}
.meeting-btn-delete {
  background-color: #fe4c4c;
}
.meeting-btn-cancel {
  background-color: #c8c7c7;
}
.image-crop-dimensions {
  > .dimension-selectable {
    border: 1px solid #c8c7c7;
    color: #757575;
  }
}

.cropper-button {
  padding: 10px 80px;
}

.cropper-button-reset,
.confirm-btn-cancel {
  background-color: #757575;
}

.dimension-selected,
.cropper-button-reset,
.confirm-btn-confirm {
  margin-right: 12px;
}

// Confirm Popup Template
.confirm-text {
  margin-bottom: 30px;
  p {
    font-size: 24px;
    text-transform: uppercase;
    span {
      font-weight: bold;
    }
  }
}
.confirm-cont {
  min-height: 274px;
}
.meeting-cont {
  min-height: 250px;
}
.confirm-btn {
  padding: 10px 60px;
}
.meeting-btn {
  min-width: 175px;
  line-height: 38px;
  margin-right: 12px;
}
.meeting-buttons {
  margin-top: 35px;
}
