.status-b-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.status-hidden {
  display: none;
}

.success-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 596px;
  min-height: 336px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  padding: 40px 30px;
  z-index: 999;
  position: relative;
  &-close {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 17px;
    height: 2px;
    background-color: #c8c7c7;
    transform: rotate(45deg);
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 17px;
      height: 2px;
      top: 0;
      right: 0;
      background-color: #c8c7c7;
      transform: rotate(90deg);
    }
  }
  &-img {
    width: 84px;
    height: 84px;
  }
  &-text {
    text-transform: uppercase;
    color: #27ae60;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
}
