// Password reset successful Popup
.global-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.status-hidden {
  display: none;
}

.isdenied-cont,
.confirm-cont,
.meeting-cont,
.description-cont,
.send-notification-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  position: relative;
  &-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    color: #c8c7c7;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: darken(#c8c7c7, 10%);
    }
  }
  &-img {
    width: 84px;
    height: 84px;
  }
  &-text {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  &-txt {
    text-transform: uppercase;
    color: #000000;
    font-size: 24px;
    margin-top: 10px;
    span {
      font-weight: bold;
    }
  }
}
.isdenied-cont,
.success-cont,
.description-cont {
  min-height: 336px;
}

.success-cont {
  p {
    color: #27ae60;
  }
}

// Branding image cropper UI
.image-crop-cont {
  width: 1145px;
  min-height: 757px;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 60px;
}
.image-crop-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.image-crop-title {
  font-size: 24px;
  font-weight: bold;
}
.crop-image {
  width: 1024px;
  height: 512px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  img {
    width: 1024px;
    height: 512px;
    object-fit: cover;
  }
}
.image-crop-dimensions {
  display: flex;
  align-items: center;
}
.dimensions-text {
  font-weight: bold;
  margin-right: 12px;
}
.dimension-button {
  padding: 8px 12px;
  font-size: 12px;
}
.dimension-button,
.cropper-button,
.global-btn,
.meeting-btn,
.send-btn,
.invite-btn {
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 0 6px;
}
.dimension-selected,
.cropper-button-save,
.global-btn-type-1,
.send-btn-des {
  background-color: #2196f3;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken(#2196f3, 10%);
  }
}
.meeting-btn-delete {
  background-color: #fe4c4c;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken (#fe4c4c, 10%);
  }
}
.meeting-btn-cancel {
  background-color: #c8c7c7;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken (#c8c7c7, 10%);
  }
}
.image-crop-dimensions {
  > .dimension-selectable {
    border: 1px solid #c8c7c7;
    color: #757575;
    transition: all 0.3s;
    &:hover {
      border-color: #2196f3;
    }
  }
}

.cropper-button {
  padding: 10px 80px;
}

.cropper-button-reset,
.global-btn-type-2 {
  background-color: #c8c7c7;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken(#c8c7c7, 10%);
  }
}

// Confirm Popup Template
.confirm-text {
  margin-bottom: 30px;
  p {
    font-size: 24px;
    text-transform: uppercase;
    span {
      font-weight: bold;
    }
  }
}
.confirm-cont {
  padding: 40px 30px;
  width: 596px;
  min-height: 274px;
}
.meeting-cont {
  padding: 40px 30px;
  width: 596px;
  min-height: 250px;
}
.global-btn {
  min-width: 170px;
  padding: 10px;
  height: 38px;
  line-height: 18px;
}
.meeting-btn {
  min-width: 175px;
  line-height: 38px;
  margin-right: 12px;
}
.send-btn {
  min-width: 110px;
  line-height: 38px;
  font-size: 14px;
  height: 38px;
}
.meeting-buttons {
  margin-top: 35px;
}
.send-cont-txt {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}
.send-text-block {
  position: relative;
  width: 100%;
  height: 198px;
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  background-color: #ffffff;
  > p {
    padding: 10px;
  }
}
.description-cont {
  padding: 40px 30px;
  width: 596px;
  justify-content: space-around;
  padding: 10px 40px;
  background-color: #f9f9fb;
  .send-text-block {
    > .scrollable-container-h {
      padding: 15px;
    }
    p {
      color: #757575;
    }
  }
}

// Is Deined
.isdenied-cont {
  padding: 40px 30px;
  width: 596px;
  &-img {
    img {
      width: 84px;
      height: 84px;
    }
  }
  &-text {
    color: #fe4c4c;
  }
}

// Send Notification
.send-notification-cont {
  padding: 60px;
  width: 673px;
  .send-notification-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  .send-notification-info {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .send-notification-subtitle {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

// Invintation
.invintation-cont {
  width: 445px;
  min-height: 590px;
  padding: 30px 20px 12px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
}
.inv-cont-text {
  text-transform: capitalize;
  font-weight: bold;
}
.invintation-info-block {
  position: relative;
  width: 100%;
  height: 400px;

  background-color: #ffffff;
  > p {
    padding: 10px;
  }
}

.info-block-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 15px;
  &:last-child {
    margin: 0;
  }
  > p {
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #2196f3;
    }
  }
  > i {
    color: #c8c7c7;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #fe4c4c;
    }
  }
}
.inv-input-holder {
  position: relative;
  width: 100%;
  > i {
    position: absolute;
    left: 15px;
    top: 8px;
    color: #c8c7c7;
  }
}
.invite-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.invite-btn {
  width: 100%;
  padding: 10px;
  height: 38px;
  line-height: 18px;
}

.inv-checkbox-holder {
  position: relative;

  span {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -9px;
      left: -18px;
      width: 13px;
      height: 13px;
      border: 2px solid #c8c7c7;
      border-radius: 50%;
      cursor: pointer;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -11px;
      left: -11px;
      width: 5px;
      height: 12px;
      border: 3px solid #2196f3;
      border-left-width: 0;
      border-top-width: 0;
      border-radius: 2px;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.3s;
      cursor: pointer;
    }
  }
  input[type="checkbox"]:checked + span::after {
    opacity: 1;
  }

  input {
    display: none;
  }
}
