html {
  font-family: ProximaNova, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}
@media (hover: hover) and(min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    //padding-right: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(#000000, 0.05);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #c8c7c7;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }
}
.main-app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 10fr;
  grid-template-areas: "header" "content";
}
.header-holder{
  width: 100%;
  grid-area: header;
}
.content-holder {
  width: 100%;
  grid-area: content;
}
.main-content-box{
  width: 100%;
  height: 100%;
  position: relative;
}
