html {
  font-family: ProximaNova, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background: #f9f9fb;
}
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
@media (hover: hover) and(min-width: 1024px) {
}

.main-app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 10fr;
  grid-template-areas: "header" "content";
}
.header-holder {
  width: 100%;
  grid-area: header;
  overflow: hidden;
}
.content-holder {
  width: 100%;
  grid-area: content;
  overflow: hidden;
  position: relative;
}
.main-content-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
